
<h4>Constructor</h4>
<ul>
  <li>{{varConstructor}}</li>
</ul>

<h4>OnInit</h4>
<ul>
  <li>{{varNgOnInit}}</li>
</ul>

<h4>OnChanges</h4>
<ul>
  <li>{{varNgOnChanges}}</li>
  <li>{{varNgOnChangesObjectFirstChange}}</li>
  <li>{{varNgOnChangesObjectPreviousValue}}</li>
  <li>{{varNgOnChangesObjectCurrentValue}}</li>
  <li>Variable target from OnChanges -> {{varTestChanges}}</li>
</ul>


<h4>varNgDocheck</h4>
<ul>
  <li>{{varNgDocheck}}</li>
</ul>

<h4>varNgAfterContentInit</h4>
<ul>
  <li>{{varNgAfterContentInit}}</li>
</ul>

<h4>varAfterContentChecked</h4>
<ul>
  <li>{{varNgAfterContentInit}}</li>
</ul>

